:root {
	--main-color: #151515;
	--main-aero-color: rgba(21, 21, 21, 0.9);
	--main-overlay-color: rgba(21, 21, 21, 0.95); /* fallback */
	--main-aero-menu-color: rgba(236, 235, 235, 0.15);
	--main-modal-color: rgba(21, 21, 21, 0.95); /* fallback */
	--main-aero-modal-color: rgba(21, 21, 21, 0.35);
	--main-bg-color: #121212;
	--main-aero-bg-color: rgba(21, 21, 21, 0.35);
	--main-bg-color-2: #1d1d1d;
	--main-header-color: #2c2c2c;
	--main-text-color: #e4e4e4;
	--main-text-color-2: #e4e4e4;
	--main-select-color: #d89c1b;
	--main-svg-color: brightness(0.1) sepia(0) hue-rotate(0deg) saturate(0);
	--main-svg-color-2: brightness(1) sepia(0) hue-rotate(0deg) saturate(0);
	--main-svg-inv-color: invert(1);

	--player-bg-color: #26262d;
	--player-bg-color-2: #2f3038;
	--player-selection-color: #d89c1b;
	--player-item-hover-color: #3f414b;
	--player-item-text-color: #ddd;
}

/* Light Theme */
[data-theme="light"] {
	--main-color: #ecebeb;
	--main-aero-color: rgba(236, 235, 235, 0.8);
	--main-overlay-color: rgba(21, 21, 21, 0.95); /* fallback */
	--main-aero-menu-color: rgba(21, 21, 21, 0.15);
	--main-modal-color: rgba(236, 235, 235, 0.95); /* fallback */
	--main-aero-modal-color: rgba(236, 235, 235, 0.3);
	--main-bg-color: #f8f8f8;
	--main-aero-bg-color: rgba(21, 21, 21, 0.35);
	--main-bg-color-2: #cac8c8;
	--main-header-color: #bdbcbc;
	--main-text-color: #111111;
	--main-text-color-2: #e4e4e4;
	--main-select-color: #dd8a17;
	--main-svg-color: brightness(0.1) sepia(0) hue-rotate(0deg) saturate(0);
	--main-svg-color-2: brightness(1) sepia(0) hue-rotate(0deg) saturate(0);
	--main-svg-inv-color: none;

	--player-bg-color: #fff;
	--player-bg-color-2: #f3f5f7;
	--player-selection-color: #dd8a17;
	--player-item-hover-color: #dedfe0;
	--player-item-text-color: #090f25;
}

/* Dark Theme */
[data-theme="dark"] {
	--main-color: #151515;
	--main-aero-color: rgba(21, 21, 21, 0.9);
	--main-overlay-color: rgba(21, 21, 21, 0.95); /* fallback */
	--main-aero-menu-color: rgba(236, 235, 235, 0.15);
	--main-modal-color: rgba(21, 21, 21, 0.9); /* fallback */
	--main-aero-modal-color: rgba(21, 21, 21, 0.35);
	--main-bg-color: #121212;
	--main-aero-bg-color: rgba(21, 21, 21, 0.35);
	--main-bg-color-2: #1d1d1d;
	--main-header-color: #2c2c2c;
	--main-text-color: #e4e4e4;
	--main-text-color-2: #e4e4e4;
	--main-select-color: #d89c1b;
	--main-svg-color: brightness(1) sepia(0) hue-rotate(0deg) saturate(0);
	--main-svg-color-2: brightness(1) sepia(0) hue-rotate(0deg) saturate(0);
	--main-svg-inv-color: invert(1);

	--player-bg-color: #26262d;
	--player-bg-color-2: #2f3038;
	--player-selection-color: #d89c1b;
	--player-item-hover-color: #3f414b;
	--player-item-text-color: #ddd;
}
/* Custom UI */

/* Glass effect support handler */

@supports ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
  .nav-bg, .dropdown-list {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
		background-color: var(--main-aero-color);
  }
  .navbar {
    background-color: transparent;
  }
	.modal-bg {
    -webkit-backdrop-filter: blur(8px);
		backdrop-filter: blur(8px);
  }
	.modal {
		background-color: var(--main-aero-modal-color);
	}
  .overlay-content, .backtotop-button, .page-content, .utility-page-form {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
		background-color: var(--main-aero-bg-color);
		color: var(--main-text-color-2);
  }
  @media screen and (max-width: 991px){
		.nav-menu {
  		-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
			background-color: var(--main-aero-color);
    }
    .dropdown-list {
    	-webkit-backdrop-filter: blur(0px);
    	backdrop-filter: blur(0px);
			background-color: var(--main-aero-menu-color);
  	}
		.menu-selector.w--open {
			background-color: var(--main-select-color);
		}
  }
}

/* fallback support - for browser not supporting backdrop-blur */
@supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
	.navbar, .nav-bg {
		background-color: var(--main-aero-color);
	}
	.nav-menu {
		background-color: var(--main-color);
	}
	.dropdown-list {
		background-color: var(--main-aero-menu-color);
	}
	.overlay-content, .backtotop-button, .page-content, .utility-page-form {
		background-color: var(--main-overlay-color);
		color: var(--main-text-color-2);
	}
  .modal {
		background-color: var(--main-modal-color);
		color: var(--main-text-color);
	}
}

/* Custom UI Theme */
body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}
a {
		color: var(--main-text-color);
}
.preloader {
	background-color: var(--main-color);
}
.nav-overlay {
	background-color: var(--main-color);
}
.footer {
	background-color: var(--main-color);
}
.theme-icon {
	filter: var(--main-svg-inv-color);
}
.widget-icon, .icon {
	filter: var(--main-svg-color);
}
.widget-icon:hover {
	filter: var(--main-svg-color-2);
}
.brand, .page-button, .menu-selector, .dropdown-link, .button-selector, .tab-selector {
	color: var(--main-text-color);
}
.button-selector.w--current, .tab-selector.w--current {
	background-color: var(--main-select-color);
}
.page-button.w--current, .dropdown-link.w--current {
	color: var(--main-select-color);
}
.contentsection2 {
	background-color: var(--main-bg-color-2);
}
.banner-header {
	background-color: var(--main-header-color);
}
.banner-wrapper, .content-wrapper {
	background-color: var(--main-bg-color-2);
}
.product-card {
	background-color: var(--main-bg-color-2);
}
.progress-bar, .header-line-color, .link-button, .button, .home-page-button {
	background-color: var(--main-select-color);
}
.backtotop-button:hover, .widget-link:hover, .hero-button:hover {
	background-color: var(--main-select-color);
}
.modal-open:hover, .about-link:hover, .close-icon:hover {
	color: var(--main-select-color);
}
.media-title {
	color: var(--main-select-color);
}
.square-wrapper:hover, .text-field:focus, .textarea:focus {
	border-color: var(--main-select-color);
}

/* selection */
::selection {
  background: var(--main-select-color);
  color: var(--main-text-color);
}
::-moz-selection {
  background: var(--main-select-color);
  color: var(--main-text-color);
}

/* user select */
.navbar {
  -webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.theme-icon, .theme-text-1, .theme-text-2 {
  -webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
#modal-touch {
  -webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.hero-wrapper {
	pointer-events: none;
}

#overlay, #modal {
	-webkit-overflow-scrolling: touch;
}
